<div class="bootstrap-wrapper">

    <mat-card style="height: 80vh;">

        <h1>Current <span>Booking</span></h1>

        <div class="container" style="margin: auto;">

            <div class="left">
                <table>
                      
                    <tr>
                        <td>TripId</td>
                        <td>{{driverService?.getCurrentBooking()?.tripBookingId || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td>{{driverService?.getCurrentBooking()?.fromLocation || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>{{driverService?.getCurrentBooking()?.toLocation || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>From-Date</td>
                        <td>{{driverService?.getCurrentBooking()?.fromDateTime || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>To-Date</td>
                        <td>{{driverService?.getCurrentBooking()?.toDateTime || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>CabType</td>
                        <td>{{driverService?.getCurrentBooking()?.cabType || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>Distance</td>
                        <td>{{driverService?.getCurrentBooking()?.distanceInKm || 'Null'}}KM</td>
                    </tr>
                    <tr>
                        <td>BillStatus</td>
                        <td>{{driverService?.getCurrentBooking()?.billStatus || 'Null'}}</td>
                    </tr>
                </table>
            </div>

            <div class="middle">

                <table>
                    <tr>
                        <td>DriverId</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.driverId || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>Driver-Name</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.name || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>Driver-Email</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.email || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>Driver-Mobile</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.mobile || 'Null'}}</td>
                    </tr>
                </table>

            </div>

            <div class="right">

                <table>
                    <tr>
                        <td>CabID</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.cab.cabId || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>CabName</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.cab.cabName || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>CabTypr</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.cab.cabType || 'Null'}}</td>
                    </tr>
                    <tr>
                        <td>cabNumber</td>
                        <td>{{driverService?.getCurrentBooking()?.driver.cab.cabNumber || 'Null'}}</td>
                    </tr>
                </table>

            </div>
              
            

        </div>

            <div class="bill">
                <h2>Bill: {{driverService.getCurrentBooking().bill}}&#x20B9;</h2>
                <button mat-raised-button routerLink="/payment" *ngIf="driverService.getCurrentBooking().billStatus==false">PayBill</button>
            </div>

          <div class="btn">
             <button mat-raised-button color="primary" routerLink="/updateTrip">Update-Trip</button>
             <button mat-raised-button color="warn" (click)="cancel(driverService.getCurrentBooking().tripBookingId)">Cancel-Trip</button>
          </div>

    </mat-card>

</div>