.container{

    height: 70%;
    
}

.card{
    /* border: 5px solid rgb(255, 174, 0); */
    text-align: center;
    width: 40%;
    margin: auto;
    height: 90%;
    margin-top: 15vh;
    border-radius: 50px;
}

h1{
    margin-top: 10px;
   color: rgb(255, 174, 0);
   font-size: 30px;
}
h1 span{
    color: rgb(0, 0, 0);
   font-size: 30px;
}

form{
    margin: auto;
    width: 80%;
}