<nav class="navbar navbar-expand-lg bg-body-tertiary" style=" z-index: 100;">
  <div class="container-fluid"
    style="background-color: rgb(255, 174, 0); height:70px; position: fixed; margin-top: 50px;">

    <a class="navbar-brand" href="#">TAXILO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" *ngIf="isLoggedIn && isUser()"
            routerLink="/BookCab" >Bookcab</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" *ngIf="isLoggedIn && isAdmin()"
            routerLink="/registerCab" >Cab</a>
        </li>

      </ul>

      

      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 70%;">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/userSignUp"
            *ngIf="!isLoggedIn">SignUp</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/login" *ngIf="!isLoggedIn">LogIn</a>
        </li>

    

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" *ngIf="isLoggedIn && user"
             (click)="checkUser()">{{login.getUser().name}}</a>
        </li>

    

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" *ngIf="isLoggedIn" (click)="logout()">Logout</a>
        </li>



      </ul>
    </div>
  </div>
</nav>