<div class="container home-1">

    <div class="row">

        <div class="col-md-6 left">
            <h1>India’s largest <br><br>taxi service</h1>
            <h3>Rapido is India’s first and fastest-growing Bike taxi app with a whopping 25 Million+ app downloads. We
                are
                now running operations in more than 100 cities.</h3>

            <div class="btn-group">
                <button routerLink="/driverLogIn" class="btn btn-primary" style="width: 20%;">Driver LogIn</button>
                <button routerLink="/Signup" class="btn btn-danger" style="width: 20%;" (click)="btnClick()">Sign Up As
                    Driver</button>
            </div>
        </div>

        <div class="col-md-6 right">
            <img src="https://www.aai.aero/sites/default/files/taxi_0.png" alt="" class="img-fluid">
            <!-- <img src="../../../assets/download.png" alt="" class=""> -->
        </div>

    </div>


</div>


<div class="home2">

    <h1>Availability</h1>

    <div class="container-1">
        <div class="left"><p>Jaipur</p></div>
        <div class="right">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/404/cf39e9109072475.Y3JvcCwxMTcxLDkxNiw2MjAsNDY5.jpg"
                alt="">
        </div>
    </div>

    <div class="container-1">
        <div class="left">
            <img src="https://thumbs.dreamstime.com/b/gateway-india-mumbai-sketch-vector-gateway-india-historical-monument-financial-capital-india-mumbai-146555088.jpg"
                alt="">

        </div>
        <div class="right"><p>Mumbai</p></div>
    </div>

    <div class="container-1">
        <div class="left"><p>Hyderabad</p></div>
        <div class="right">
            <img src="https://www.pngitem.com/pimgs/m/381-3815146_charminar-hyderabad-charminar-png-transparent-png.png"
                alt="">
        </div>
    </div>

    <div class="container-1">
        <div class="left">
            <img src="https://media.istockphoto.com/id/510318234/vector/india-gate-vector-sketch-illustration-war-memorial-new-delhi-india.jpg?s=612x612&w=0&k=20&c=1qR8nBQ4tr_m8ZYbWGZQBwhGslykrtTLfCjn5W5LtSg="
                alt="">
        </div>
        <div class="right">
            <p>Delhi</p>
        </div>
    </div>

    <div class="container-1">
        <div class="left"><p>Kolkata</p></div>
        <div class="right">
            <img src="https://mir-s3-cdn-cf.behance.net/projects/max_808_webp/3834ac161792729.Y3JvcCw0NjAyLDM2MDAsOTAwLDA.jpg" alt="">
        </div>
    </div>

</div>



<footer>
    <h3>Copyright</h3>
</footer>