<div class="bootstrap-wrapper">

    <div class="container">

        <mat-card style="height: 70vh;">

            <h1>SUPPORT</h1>

              <div class="con">
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSujXq-eENbCpkKjWHXQ8W3n0sbKDanPTJUoQ&usqp=CAU" alt="">
                <p>If you want any kind of support you can contact as or also you can your query <a href="/query">click here</a></p>
            </div>

            <div class="con">
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfgcgzqyTPNHTbygdEtIt3E6h9NDY03LBTo-i1AIiS_TUw3lP-2ngHO8nn245G41Mqxzk&usqp=CAU" alt="">
                <p>Check your query Status Here <a href="/queryStatus">click here</a></p>
            </div>

        
            <div class="con">
                <img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_kCapoclXYmvZ5V6qtNGLzXhMQ0NCs4tOzg&usqp=CAU" alt="">
                <p>Any application support or having problem while registration or login <a href="">click here</a></p>
            </div>
        </mat-card>

    </div>

</div>