h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
    margin-top: 150px;
    color: rgb(255, 174, 0);
    /* border: 1px solid black; */
}

.animated-text {
    margin-top: 10px;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.brand span{
    color: rgb(255, 174, 0);
}
span{
    color: black;
}

.gif{
    margin: auto;
    width: 30%;
    height: 30%;
    margin-top: 100px;
}


.animated-text {
    display: inline-block;
  }
  
  .black {
    color: black;
    animation: colorChange 2s infinite;
  }
  
  .yellow {
    color: rgb(255, 174, 0);
    animation: colorChange 2s infinite 1s;
  }
  
  @keyframes colorChange {
    0% {
      color: black;
    }
  
    50% {
        color: rgb(255, 174, 0);
    }
  
    100% {
      color: black;
    }
  }
  