<div class="bootstrap-wrapper">

    <mat-card style="height: 70vh;">

         <h1 class="animated-text">
            <span class="black">TAXI</span>
            <span class="yellow">LO</span>
          </h1>
          

        <!-- <img src="https://www.canalgif.net/Gifs-animados/Vehiculos-terrestres/Taxis/Imagen-animada-Taxi-05.gif" alt="" class="gif"> -->

        
        <h1>Welcome <span>{{login.getUser().name}}</span></h1>

        <img src="https://i.pinimg.com/originals/57/07/26/570726f9398849aa200fbcba9466f9f2.gif" alt="" class="gif">

    </mat-card>

 

</div>