<div class="bootstrap-wrapper">

    <mat-card class="card">

           <h1>Cab <span>Details</span></h1>

        <table>
            <tr>
                <td>CabId</td>
                <td>{{cab.getCab().cab.cabId}}</td>
            </tr>
            <tr>
                <td>CabName</td>
                <td>{{cab.getCab().cab.cabName}}</td>
            </tr>
            <tr>
                <td>CabNumber</td>
                <td>{{cab.getCab().cab.cabNumber}}</td>
            </tr>
            <tr>
                <td>CabType</td>
                <td>{{cab.getCab().cab.cabType}}</td>
            </tr>
            <tr>
                <td>DriverId</td>
                <td>{{cab.getCab().driverId}}</td>
            </tr>
            <tr>
                <td>DriverName</td>
                <td>{{cab.getCab().name}}</td>
            </tr>
            <tr>
                <td>DriverEmail</td>
                <td>{{cab.getCab().email}}</td>
            </tr>
            <tr>
                <td>DriverMobile</td>
                <td>{{cab.getCab().mobile}}</td>
            </tr>
        </table>


    </mat-card>


</div>