<div class="bootsrap-wrapper">

    <div class="container">

        <h1>Privacy</h1>

     <mat-card style="height: 60vh;">
        
        <mat-card class="card" >

            

               <form (ngSubmit)="updateEmailPassword(login.getUser().driverId)">

                <mat-form-field style="width: 80%;" appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input matInput placeholder="jainendra@gail.com" name="email" [(ngModel)]="updateData.email">
                  </mat-form-field>

                  <mat-form-field style="width: 80%;" appearance="outline">
                    <mat-label>Enter password</mat-label>
                    <input matInput placeholder="1234upi" type="password" name="password" [(ngModel)]="updateData.password" >
                  </mat-form-field>

                  <button mat-raised-button type="submit">Submit</button>

               </form>

        </mat-card>
     </mat-card>

        

    </div>

</div>